* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body__Fondo {
    background-image: linear-gradient(to bottom, #4d4d4d, #454545, #3d3d3d, #353535, #2d2d2d, #282828, #242424, #1f1f1f, #1c1c1c, #1a1a1a, #171717, #141414);
    
   

}

.logo__tyson {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.header {
    margin-bottom: 10px;
}

.nav__header {
    color: white;
    background-image: url(../imagenes/fondo\ pantalla\ tyson\ web\ developer\ 2.jpg);
    background-repeat: no-repeat;
    object-fit: cover;
    border-bottom: 2px solid white;
    margin-bottom: 10px;
}

.nav__header:hover {
    color: red;
}

.nav-link {
    font-family: Tahoma, sans-serif;
    color: white;
    font-size: 30px;
}

.nav-link:hover {
    color: red;
}

.formulario {
    color: white;
    width: 70%;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
}

.form-label {
    color: white;
    width: 70%;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
    padding-top: 5px;
    margin-bottom: 10px;
}


.form-control {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.form__formulario {
    padding-bottom: 15px;
}

/* .btn-light {
    font-size: 18px;
    color: white;
    background-color:  black;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
} */

.btn {
    font-size: 18px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
}

.modal__muchasGracias {
    background-color: black;
    border: 1px solid white;
}

.titulo__muchasGracias {
    font-size: 35px;
    color: white;
    border-radius: 5px;
    background-color: black;
    border: 1px solid white;
    font-family: Tahoma, sans-serif;
    width: 90%;
    margin: 15px;
}

.carousel-caption {
    color: white;
    font-family: Tahoma, sans-serif;
}

.carousel {
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 10px;
}

.carousel img {
    width: 80%;
    height: 235px;
    border-radius: 5px;
    object-fit: cover;
}


.redes__titulo {
    font-family: Tahoma, sans-serif;
    color: white;
    font-size: 30px;
    text-align: center;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    margin: 0 auto;
    width: 70%;
    margin-bottom: 10px;
    padding-top: 5px;
}

.redes__redes {
    width: 50%;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    text-align: center;
    margin: 0 auto;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.redes__links {
    color: white;
    font-size: 20;
}

.copyright__tipografia {
    margin: 0 auto;
    width: 65%;
    background-color: black;
    border-radius: 5px;
    border: 1px solid white;
    font-family: Tahoma, sans-serif;
    color: white;
    font-size: 20px;
    text-align: center;
    padding-bottom: 3px;
}

/* Sidebar */
#sidebar-wrapper {
    z-index: 1;
    position: absolute;
    width: 0;
    height: 100%;
    overflow-y: hidden;
    background: #5b4282;
    opacity: 0.9;
    transition: all .5s;
    display: flex;
    align-items: center;
}

/* Main Content */
#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
    transition: all .5s;
}

#menu-toggle {
    transition: all .3s;
    font-size: 2em;
}

/* Change the width of the sidebar to display it*/
#wrapper.menuDisplayed #sidebar-wrapper {
    width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper {
    padding-left: 250px;
}

/* Sidebar styling */
.sidebar-nav {
    padding: 0;
    list-style: none;
    transition: all .5s;
    width: 100%;
    text-align: center;
}

.sidebar-nav li {
    line-height: 40px;
    width: 100%;
    transition: all .3s;
    padding: 10px;
}

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #ddd;
}

.sidebar-nav li:hover {
    background: #846bab;
}



@media screen and (min-width: 599px) {

    .logo__tyson {
        width: 60%;
        height: 350px;
        justify-content: center;
    }

    .fondo__dePantalla {
        object-fit: fill;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }

}