* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo__dePantalla {
        background-repeat: no-repeat;
        background-position: relative;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
}

.logo__tyson {
    border: 1px solid white;
    border-radius: 5px;
    width: 90%;
    height: 250px;
    margin: 15px;

}

.header {
    margin-bottom: 15px;
}

.nav__header {
    padding: 0;
}

.nav-link {
    background-color: black;
    width: 90%;
    margin: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    color: white;
    font-weight: bold;
    font-size: 30px;
}

.nav-link:hover {
   color: red;
}

.cuadro__principal {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    padding: 1rem;
    margin: 1rem;
}

.cuadro__contenidos {
    display: flex;
    flex-direction: column;
    color: white;
    -webkit-text-stroke: 1px  black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 35px;
    font-weight: bold;
    text-align: center;
}

.links {
    font-weight: bold;
    font-family:'Franklin Gothic Medium', 'Arial Narrow';
    font-size: 12px;
    text-align: center;
}

.form-label {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        color: white;
        font-size: 45px;
        -webkit-text-stroke: 1px  black;
}

.btn-light {
    font-size: 25px;
    color: white;
    background-color:  black;
    border-radius: 5px;
}

.titulo__muchasGracias {
    font-size: 35px;
    color: white;
    border-radius: 5px;
    background-color:  black;
    border: 1px solid white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow';
    width: 90%;
    margin: 15px;
    
}
