* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.fondo__dePantalla {
        background-repeat: no-repeat;
        object-fit: cover;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
}

.logo__tyson {
    width: 100%;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.header {
    margin-bottom: 10px;
}

/* .nav__header {
    padding: 0;
} */

.nav-link {
    background-color: black;
    margin: 15px;
    border: 1px solid white;
    border-radius: 5px;
    font-family: Tahoma, sans-serif;
    color: white;
    font-weight: bold;
    font-size: 23px;
}
  .nav-link:hover {
        color: red;
     }

.form-label {
        font-family: Tahoma, sans-serif;
        color: white;
        font-size: 20px;
        width: 80%;
        margin: 10px;
        background-color: black;
        border: 1px solid white;
        border-radius: 5px;
        text-align: center;
}

.form-control {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 18px;
}

.form__formulario {
    padding-bottom: 15px;
}

/* .btn-light {
    font-size: 18px;
    color: white;
    background-color:  black;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
} */

.btn {
    font-size: 18px;
    color: white;
    background-color:  black;
    border: 1px solid white;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
}

.modal__muchasGracias {
    background-color:  black;
    border: 1px solid white;
}

.titulo__muchasGracias {
    font-size: 35px;
    color: white;
    border-radius: 5px;
    background-color:  black;
    border: 1px solid white;
    font-family: Tahoma, sans-serif;
    width: 90%;
    margin: 15px;   
}

.carousel-caption {
    color: white;
    font-family: Tahoma, sans-serif;
}

.carousel {
    margin: 0 auto;
    border: 1px solid white;
    border-radius: 5px;

}

.carousel img {
    width: 80%;
    height: 235px;
    border-radius: 5px;
    object-fit: cover;
}


.redes__titulo {
    font-family: Tahoma, sans-serif;
    color: white;
    font-size: 25px;
    width: 90%;
    margin: 15px;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    text-align: center;
}

.redes__links {
    font-size: 20;
}

.copyright {
    margin: 0 auto;
    width: 60%;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px; 
    margin-bottom: 15px;   
}

.copyright__tipografia {
    font-family: Tahoma, sans-serif;
    color: white;
    font-size: 18px;
    text-align: center;
    padding-top: 10px;
}

@media screen and (min-width: 599px) {

    .logo__tyson {
        width: 60%;
        height: 350px;
        justify-content: center;
    }

    .fondo__dePantalla {
        object-fit:fill;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        z-index: -1;
        position: fixed;
    }
    
}
